
<!doctype html>
<html lang="en">
    <head>
        <title>Request Header Parser Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                API Basejump: Request Header Parser Microservice
            </h1>
            <blockquote>
                User stories:
                <ul>1) I can get the IP address, language and operating system for my browser.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://spotty-fork.gomix.me/api/whoami</code><br>
            <h3>Example output:</h3>
            <code>
                { "ipaddress": "202.66.167.105",
                  "language": "en-US",
                  "software": "Windows NT 6.1; WOW64"
                }
            </code>
        </div>
    </body>
</html>